# OAuth2.0 Provider Client ID and Client Secret
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=

# Pepper for hashing
PASSWORD_PEPPER=
SESSION_PEPPER=
EMAIL_VERIFICATION_SESSION_PEPPER=
PASSWORD_RESET_SESSION_PEPPER=
ACCOUNT_ASSOCIATION_SESSION_PEPPER=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cloudflare Turnstile
CF_TURNSTILE_SECRET=

# HMAC Secret
OAUTH_STATE_HMAC_SECRET=
ACCOUNT_ASSOCIATION_STATE_HMAC_SECRET=
